* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

html, body{
    height: 100%;
    background: #4c5454;
}

header{
    height: 20%;
    background: #ff715b;
}

menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 10%;
    place-items: center;
    place-content: center;
    list-style-type: none;
    background: #1EA896;
    padding: 1.5rem;
}

li a{
    color: white;

}

picture img{
    display: block;
    height: 80%;
    margin: 0 auto;
}

main{
    width: 80%;
    background: white;
    margin: 0 auto;
    min-height: 40%;
    font-size: 1.4em;
    padding: 2rem;
}

main img{
    display: block;
    margin: 1.6rem auto;
}

main h1{
    text-align: center;
    margin-bottom: 1.2rem;
}

footer{
    background: #1EA896;
    height: 30%;
    display: grid;
    align-items: end; 
}

footer p{
    text-align: center;
    height: 10%;
    color: white;
}